.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--esp-2);
}

.wrapper canvas {
  height: 140px !important;
}

.dataTable {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}
